<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/recrutador/card_vagas.css' %}">


    <title>Title</title>
</head>
<body>
    <h1> Minha vagas:</h1>
    <div class="vagas-container">
        {% for vaga in vagas %}
            <div class="vaga-card">
                <h3>{{ vaga.titulo }}</h3>
                <p class="descricao">{{ vaga.descricao }}</p>
                <p class="salario"> R$ {{ vaga.salario }}</p>
                <p class="remoto">{% if vaga.remoto %} Remoto
                {% else %} Presencial
                 {% endif %}
                </p>
            </div>
        {% endfor %}
    </div>


    <a href="{% url 'recrutamento:recrutador_vagas_criar' %}"> Criar Vaga</a>
</body>
</html>